/* Source: https://support.mozilla.org/en-US/questions/1265223 */

/* set default namespace to XUL */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/*
 * Collapsed read thread, but the thread contains unread, set text to bold black
 */
treechildren::-moz-tree-cell-text(container, closed, hasUnread, read) {
  text-decoration: none !important;
  font-weight:  bold !important;
  color: #000000 !important;
}

/*
 * If thread selected, revert to highlight text color
 */
treechildren::-moz-tree-cell-text(container, closed, hasUnread, read, focus, selected),
treechildren::-moz-tree-cell-text(container, hasUnread, read, focus, selected) {
  color: HighlightText !important;
}
